<!DOCTYPE html>
<html lang="en">

<head>

  <title>Trivia Question</title>
  <style>
    html {
      margin-top: 50px;
      background-color: white;
    }

    body {
      max-width: 300px;
      margin: 0 auto;
      background: #aaa;
      height: auto;
      padding-bottom: 20px;
      border: 5px double black;
    }

    h1 {
      text-transform: uppercase;
      padding: 10px 35px;
      font-size: 25px;
      margin-block-start: 0;
      color: whitesmoke; 

    }
    h3, h4, p{ 
      margin: 20px auto; 
      text-align: center;
    }
    p{ 
      color: purple; 
    }

    input label,
    input#fname  {
      margin: 12px;
    }
input{ 
  margin-left: 12px; 
}
    header {
      border-bottom: 5px double white;
      height: 50px;
      background: teal; 
      text-align: center;
    }

  </style>
</head>

<body>
  <header>
    <h1> Trivia Question </h1>
  </header>
  <div id="question">
    <form method="GET" action='/getAPI'>
      <h3>WELCOME <br> <%= myData.fname %> </h3>
      <h4> Category: <%= myData.category %><br> </h4>
      <p> <%= myData.question %></p><br><br>


      <input type="checkbox" name=answers[] value="a"> <%= myData.answer %><br><br>
      <input type="checkbox" name=answers[] value="b"><%= myData.random_sort[0] %><br><br>
      <input type="checkbox" name=answers[] value="c"><%= myData.random_sort[1] %> <br><br>
      <input type="checkbox" name=answers[] value="d"><%= myData.random_sort[2] %><br><br>

      <input id="submit" type="submit" name="submit">
    </form>

  </div>



  <div id="answer">

  </div>

</body>

</html>